<div class="container-fluid rounded" style="background-color: rgba(0, 255, 255, 0.227);">
  <!--------PERSONAL------>
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col 10">
          <div class="row" style="text-align: center;">
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">
                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M1" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                      src="https://i.ibb.co/4KtxTm2/cfc1d8b69811d4bacb1377e39d5a74c9.jpg"
                      style="width: 100px; border: black 1px solid; margin-top: 5px;"> Miguel
                    </a>
                    <div class="collapse" id="M1">

                      <ul>
                        <li><b>Nombre:</b>Miguel</li>
                        <li><b>Apellidos:</b>Lopez</li>
                        <li><b>Correo:</b>Mmiguel1@gmail.com</li>
                      </ul>
                    </div>

                  </div>
                </div>
                <p><button class="rounded">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/birthday.png"/>
                   19/07/2021
                </button></p>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">

                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M2" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                        src="https://i.ibb.co/4KtxTm2/cfc1d8b69811d4bacb1377e39d5a74c9.jpg"
                          style="width: 100px; border: black 1px solid; margin-top: 5px;">Santiago
                    </a>
                    <div class="collapse" id="M2">
                      <ul>
                        <li><b>Nombre:</b>Santiago</li>
                        <li><b>Apellidos:</b>Sarmiento</li>
                        <li><b>Correo:</b>sp12gotp@gmail.com</li>
                      </ul>
                    </div>

                  </div>
                </div>
                <p><button class="rounded">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/birthday.png"/>
                  19/07/2021
                </button></p>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">

                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M3" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                  src="https://i.ibb.co/wBww0ty/images.jpg"
                    style="width: 100px; border: black 1px solid; margin-top: 5px;">Isabel
                    </a>
                    <div class="collapse" id="M3">
                      <ul>
                        <li><b>Nombre:</b>Isabel</li>
                        <li><b>Apellidos:</b>Garcia</li>
                        <li><b>Correo:</b>isa12pt@gmail.com </li>
                      </ul>
                    </div>

                  </div>
                </div>
                <p><button class="rounded">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/birthday.png"/>
                  20/07/2021
                </button></p>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">
                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M4" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                      src="https://i.ibb.co/V37DXh9/100k-ai-faces-3.jpg"
                        style="width: 100px; border: black 1px solid; margin-top: 5px;"> Juan
                    </a>
                    <div class="collapse" id="M4">
                      <ul>
                        <li><b>Nombre:</b>Juan</li>
                        <li><b>Apellidos:</b>Marquez</li>
                        <li><b>Correo:</b>jj12mrqt@gmail.com</li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">
                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M5" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                  src="https://i.ibb.co/QNNvTWq/3-2-1.jpg"
                    style="width: 100px; border: black 1px solid; margin-top: 5px;">Gabriel
                    </a>
                    <div class="collapse" id="M5">
                      <ul>
                        <li><b>Nombre:</b>Gabriel</li>
                        <li><b>Apellidos:</b>Garcia</li>
                        <li><b>Correo:</b>gabi12gc@gmail.com </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">
                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M6" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                  src="https://i.ibb.co/YLV052c/CWBTJ7-EEAJFPBLBZG7-DJP24-LUI.jpg"
                    style="width: 100px; border: black 1px solid; margin-top: 5px;">Adrian
                    </a>
                    <div class="collapse" id="M6">
                      <ul>
                        <li><b>Nombre:</b>Adrian</li>
                        <li><b>Apellidos:</b>Pardo</li>
                        <li><b>Correo:</b>adript21@gmail.com </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">
                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M7" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                  src="https://i.ibb.co/cygFqb8/esta-persona-no-exist-297x300.jpg"
                    style="width: 100px; border: black 1px solid; margin-top: 5px;">Jose
                    </a>
                    <div class="collapse" id="M7">
                      <ul>
                        <li><b>Nombre:</b>Jose</li>
                        <li><b>Apellidos:</b>Maldonado</li>
                        <li><b>Correo:</b>jsml12do@gmail.com </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">
                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M8" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                  src="https://i.ibb.co/bz8N4K4/cara-artificial.jpg"
                    style="width: 100px; border: black 1px solid; margin-top: 5px;">Gabriela
                    </a>
                    <div class="collapse" id="M8">
                      <ul>
                        <li><b>Nombre:</b>Gabriela</li>
                        <li><b>Apellidos:</b>Sarmiento</li>
                        <li><b>Correo:</b>gabsarmi123@gmail.com </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="container-fluid rounded"
                style="border: 1px black solid; margin-top: 10px; background-color: rgba(0, 0, 140, 0.487);">
                <div class="row">
                  <div class="container-fluid rounded"
                    style="border: black 1px solid; background-color: burlywood; font-family: 'Times New Roman', Times, serif; font-size: 15px;">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#M9" role="button" aria-expanded="false"
                      aria-controls="collapseExample">
                      <img class="rounded"
                  src="https://i.ibb.co/qkzdvbn/cara6-620x618.jpg"
                    style="width: 100px; border: black 1px solid; margin-top: 5px;">Lourdes
                    </a>
                    <div class="collapse" id="M9">
                      <ul>
                        <li><b>Nombre:</b>Lourdes</li>
                        <li><b>Apellidos:</b>Marquez</li>
                        <li><b>Correo:</b>lude12mq@gmail.com </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>



</div>
