<div class="container-fluid rounded">
  <!--------INFO------>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <img id="IMTR" src="https://i.ibb.co/jkTn3jh/6200106830-363053.jpg" class="img-fluid">
              <div class="row">
                <div class="container" style="text-align: center;">
                  <div class="row">
                    <hr>
                    <div class="col-6">
                      <div class="card" style="width: 150px;" style="border: black 2px solid;">
                        <img src="https://i.ibb.co/VthvVDS/fondo-video2.jpg" style="border: black 2px solid;">
                        <div class="card-body">
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">YARIS
                            PRO<p></p></span>
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">$22,000</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card" style="width: 150px;" style="border: black 2px solid;">
                        <img src="https://i.ibb.co/xjbpSJj/fondo-video.jpg" style="border: black 2px solid;">
                        <div class="card-body">
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">COROLLA
                            CROSS<p></p></span>
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">$30,999</span>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-6">
                      <div class="card" style="width: 150px;" style="border: black 2px solid;">
                        <img src="https://i.ibb.co/7NRhgBS/fondo-video2-1.jpg" style="border: black 2px solid;">
                        <div class="card-body">
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">RAV4
                            PRO<p></p> </span>
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">$42,500</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card" style="width: 150px;" style="border: black 2px solid;">
                        <img src="https://i.ibb.co/p4L57Yx/fondo-video-1.jpg" style="border: black 2px solid;">
                        <div class="card-body">
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">PRIUS
                            C<p></p></span>
                          <span
                            style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: small;">$25,000</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container-fluid rounded" style="background-color:  rgba(0, 255, 255, 0.227);">
        <div class="row">
          <div class="col-6">
            <b><p class="text-center">En 1964 cinco empresarios cuencanos liderados por Guillermo Vázquez Astudillo
              decidieron formar la compañía Importadora Tomebamba S.A. emprendiendo el reto de convertirla, a través de
              la distribución de vehículos, en una de las empresas más importantes del país. El paso del tiempo permitió
              que este objetivo se convirtiera en realidad, puesto que al momento, la empresa se encuentra catalogada
              entre las más importantes del Ecuador por el volumen de ventas, nivel de activos, resultados y valor
              patrimonial.</p></b>
            <b><p class="text-center">Desde su inicio, Importadora Tomebamba S.A. se caracterizó por representar vía
              distribución y comercialización marcas líderes en el mercado mundial. Con mucho orgullo y satisfacción, la
              empresa inició sus actividades con la representación de vehículos TOYOTA para luego ir ampliando sus
              líneas. Desde un primer momento se quiso diferenciar de la competencia no solo por las marcas que ofrece
              sino sobre todo por la calidad en la atención al cliente, constituyéndose el servicio en la prioridad de
              nuestras actividades.</p></b>
            <b> <p class="text-center">Importadora Tomebamba S.A. desde su fundación logró un excelente posicionamiento, lo
              que obligó a que en 1967 abra su primera sucursal en la ciudad de Machala. Se continuó con la apertura de
              la sucursal en la ciudad de Loja. En 1979 se decide iniciar actividades comerciales en Riobamba para
              continuar con la apertura de las sucursales en Quito y Guayaquil. En la actualidad Importadora Tomebamba
              S.A. tiene presencia en: Cuenca, Machala, Loja, Riobamba, Azogues.

              Importadora Tomebamba S.A. en la actualidad, a más de la marca TOYOTA, que constituye su principal línea
              de negocios, comercializa al por mayor electrodomésticos de línea blanca con marca privada INNOVA,
              producidas y ensambladas por la fábrica Indurama de la ciudad de Cuenca, las marcas americanas Whirlpool y
              la colombiana Haceb; importa y distribuye productos de audio-video de las marcas Sony, Panasonic, LG,
              Samsung y Riviera; adicionalmente, es el distribuidor exclusivo en Ecuador de motocicletas Motor1, Sukida
              y Keeway, que son ensambladas localmente; y por último distribuye al por mayor y menor neumáticos marca
              MAXXIS y PRESA.

              odas estas líneas de venta están respaldadas por los talleres propios de servicio que, sin lugar a dudas,
              se encuentran entre los mejores del país.</p></b>
          </div>
          <div class="col-6">
            <div class="row">
              <img class="rounded" id="IMT" src="https://i.ibb.co/xhbPg5S/11.jpg" class="img-fluid">
            </div>
            <div class="row">
              <img class="rounded" id="IMT" src="https://i.ibb.co/MpF6kq4/ITSA-1-min.jpg" class="img-fluid">
            </div>
            <div class="row">
              <img class="rounded" id="IMT" src="https://i.ibb.co/hmt0sVg/1.jpg" class="img-fluid">
            </div>
            <div class="row">
              <img class="rounded" id="IMT"
                src="https://i.ibb.co/ry5s2c8/importadora-tomebamba-dinamiza-el-sector-automotor-en-loja-imagen-1-20190325080057-2000x2000.jpg"
                class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
